.root {
  width: 250px;
  max-width: 95%;
  margin: 0 auto;

  .field {
    margin: 10px 0;
  }

  .btns {
    display: flex;
    margin-top: 30px;
    justify-content: center;

    > * {
      margin: 0 6px;
    }
  }
}