.root {
  width: 250px;
  max-width: 95%;
  margin: 0 auto;

  .field {
    margin: 10px 0;
  }

  .btns {
    margin-top: 30px;
    text-align: center;

    .btn {
      display: inline-block;
      font-size: 14px;
      margin: 0 5px;
    }
  }
}