@import '../../../styles/variables';

.root {
  min-height: 100vh;

  &.noHeader {
    padding-top: 120px;
    background-image: linear-gradient(rgba(0, 0, 0, .3), black, black), url('/images/entry.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
  
    @media (max-width: 600px) {
      background-size: 200%;
    }
  }

  .error {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    line-height: 1.5;
    transform: translate(-50%, -50%);
    color: $main-red;
    text-align: center;
  }
}