@import '../../../styles/variables';

.root {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .warning {
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 12px;
    color: $main-red;
    text-align: center;
  }

  .signInBtn {
    margin-top: 20px;
    text-align: center;
  }

  .textField {
    width: 280px;
    max-width: 90vw;
    margin: 10px auto;
  }

  .query {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;

    p {
      margin-bottom: 4px;
    }
  }

  @media (max-height: 500px) {
    .title {
      margin-bottom: 0;
    }

    .textField {
      margin: 0 auto;
    }

    .signInBtn {
      margin-top: 5px;
    }

    .query {
      margin-top: 20px;
    }
  }

  @media (max-height: 359px) {
    padding: 20px 0;
  }
}