.root {
  position: relative;
  min-height: 100px;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .errorMessage {
    font-size: 18px;
    line-height: 1.5;
  }
}