.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  .formsPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    transition: .3s;
    display: flex;

    .form {
      width: 100vw;
      min-height: 100vh;
    }
  }
}