@import '../../../styles/variables';

.root {
  margin-top: 5px;
  padding: 0 20px;
  font-size: 12px;
  color: $main-red;
  text-align: center;
  
  p {
    font-weight: lighter;
  }

  p:first-child {
    margin-bottom: 5px;
  }
}