@import '../../../styles/variables';

.root {
  position: relative;
  width: 50%;
  height: 100%;

  .panel {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 500px;
    transform: translateX(-50%);
    transition: .2s;
  }

  .rightLeftBtns {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100px;
    transform: translateX(-50%);
    justify-content: space-between;
    font-size: 30px;
    color: $main-red;
  }

  @media (max-width: 561px) {
    .rightLeftBtns {
      display: flex;
    }
  }
}