@import '../styles/variables';
@import '../styles/animations';

@mixin menu-link {
  position: relative;
  display: block;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: .2s;
}

@mixin under-red-line($top: 120%, $width: 16px, $height: 2px) {
  position: absolute;
  content: '';
  display: block;
  top: $top;
  left: 50%;
  transform: translateX(-50%);
  width: $width;
  height: $height;
  background-color: $main-red;
  transition: .2s;
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  height: 28px;
  color: inherit;
  text-decoration: none;
  border: none;
  background-color: $main-red;
  border-radius: 5px;
  line-height: 28px;
  font-family: 'Lato';
  cursor: pointer;
  outline: 1px solid transparent;
  overflow: hidden;
  font-size: 14px;

  &::before {
    content: '';
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-150%)  skewX(-45deg);
    transition: .5s;
  }

  &.small {
    padding: 0 14px;
    height: 22px;
    line-height: 22px;
  }

  &.tiny {
    padding: 1px 8px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
  }

  &.big {
    padding: 0 32px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;

    @media (max-width: 800px) {
      padding: 0 20px;
      font-size: 16px;
      height: 34px;
      line-height: 34px;
    }
  }

  &.special {
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
    line-height: 1;
  }

  &.secondary {
    background-color: $main-blue;
  }

  &.tertiary {
    background-color: $main-green;
  }

  &.fourth {
    background-color: $main-orange;
  }

  &:disabled, &.gray {
    background-color: #555;
  }

  &:hover:not(:disabled):not(.notHovered):not(.inline) {
    &::before {
      transform: translateX(150%)  skewX(-45deg);
    }
  }

  &.inline {
    padding: 0;
    background-color: transparent;

    &.red {
      color: $main-red;
    }
  }


}

@mixin pageHeader {
  width: 100%;
  height: 700px;
  max-height: 100vh;
  opacity: 0;
  animation: show 1s .1s both;
}

@mixin inputs {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 10px 0;

  input, textarea {
    width: 100%;
    font-size: 16px;
    background-color: $inputs-cl;
    color: inherit;
    outline: none;

    &:focus {
      border-color: $link-cl; 
    }
  }

  .message {
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 10px;
  }

  &.error {
    input, textarea {
      border-color: $main-red;
    }

    .message {
      color: $main-red;
    }
  }
}


@mixin movie-schedule-panels {
  background-color: #111;
  box-shadow: 0px 0px 4px #555;
  border-radius: 5px;
}