/* main colors */
$main-dark: #1f1f1f;
$black: #000;
$main-font-cl: #fff;
$secondary-font-cl: #999;
$main-red: #ff2c1f;
$main-blue: #345995;
$main-gold: #d4aa00;
$mobile-menu-cl: rgba(black, 0.9);
$link-cl: #60C502;


/* elements colors */
$phone-link-cl: #60C502;
$footer-line-cl: linear-gradient(to right, transparent, #555, transparent);
$inputs-cl: #444;

/* brands colors */
$facebook-cl:#4267B2;
$twitter-cl:#00acee;
$instagram-cl: #F56040;

/* fonts */
$main-font: 'Lato', sans-serif;
