@import '../../../styles/variables';

.root {
  padding: 10px 0;
  height: 40px;

  .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    text-decoration: none;
    color: inherit;

    .right {
      display: flex;
      align-items: center;

      .title {
        font-size: 15px;
        margin-left: 20px;
      }
    }

    .played {
      max-width: 40px;
      padding: 3px; 
      padding-top: 1px;
      border-radius: 5px;
      font-size: 10px;
      text-align: center;
      background-color: green;
      color: #fff;
      transition: .1s;
  
      &.soon {
        background-color: $main-red;
      }
    }

 
    &:hover {
      .title {
        color: $link-cl;
      }

      .played {
        transform: scale(1.2);
      }
    }
  }

  .image {
    height: 30px;
    width: auto;
  }
}