@import '../../../styles/mixins';

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .btn {
    margin: 20px 0;
  }

  .link {
    @include button;
    display: inline-block;
    width: 230px;
  }

  .toAuth {
    background-color: $main-red;
  }
  
  .toOrder {
    background-color: $main-blue;
  }
}