@import '../../../styles/variables';

.root {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  &.center {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.top {
    top: 5%;
  }

  &.high {
    top: 25%;
  }
  
  .content {
    padding: 40px 20px;
    min-width: 300px;
    max-width: 90vw;
    background-color: #fff;
    max-height: 90vh;
    overflow-y: auto;
    color: #000;

    &.dark {
      background-color: #222;
    }
  }
}