@import '../../../styles/variables';

.root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .content {
    padding: 20px;
    min-width: 300px;
    max-width: 95vw;
    background-color: #fff;
    max-height: 85vh;
    overflow-y: auto;
    color: #000;
  }
}