.root {
  position: relative;
  width: 600px;
  max-width: 100%;
  min-height: 110px;

  .searchedByPanel {
    margin-top: 5px;
  }

  .message {
    padding: 5px 0;
    text-align: center;
  }

  .error {
    margin-top: 20px;
    color: red;
  }

  .loader {
    padding: 10px 0;
    text-align: center;
  }
}