.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin-top: 10px;

  .dayList, .scheduleList  {
    display: flex;
    list-style: none;
  } 

  .buttons {
    position: absolute;
    width: 100%;
    top: 103px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 24px;
  }

  @media (max-width: 800px) {
    .buttons {
      top: 90px;
    }
  }

  @media (max-width: 500px) {
    .buttons {
      top: 62px;
    }
  }
}