@import '../../../../styles/variables';

.root {
  position: relative;
  flex: 1;
  text-align: center;

  
  &.active {
    .top {
      position: relative;
      box-shadow: none;

      .dayNr {
        color: $link-cl;
      }
    }
  }

  .top {
    padding: 10px 0;
    box-shadow: 0 3px 0 #aaa;

    .name, .dayNr, .month {
      display: block;
      line-height: 1;
    }
  
    .name {
      font-weight: bold;
    }

    .month {
      font-weight: bold;
      font-size: 14px;
      color: #777;
    }
  
    .dayNr {
      font-size: 40px;
      font-weight: bold;
    }
  }


  .bottom {
    margin-top: 50px;
    list-style: none;
  }

  @media (max-width: 800px) {
    .top {

      .name, .month {
        font-size: 14px;
      }

      .dayNr {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 500px) {
    .top {
      padding: 5px;

      .name, .month {
        font-size: 12px;
      }

      .dayNr {
        font-size: 20px;
      }
    }

    .bottom {
      margin-top: 40px;
    }
    
  }

}