.root {
  width: 360px;
  max-width: 95%;
  margin: 0 auto;

  .field {
    display: flex;
    align-items: center;

    label {
      font-size: 17px;
      margin-right: 10px;
      width: 100px;
    }
  }

  .upBtn {
    margin-top: 60px;
    text-align: center;
  }

  .formBtns {
    margin-top: 20px;
    text-align: center;

    .formBtn {
      display: inline-block;
      margin: 0 5px;
    } 
  }

  .editBtn {
    margin-top: 20px;
    text-align: right;
  }

  
  .checkbox {
    margin-top: 30px;
    text-align: center;
  }

  @media (max-width: 359px) {
    .field {
      display: block;
    }
  }
}