.root {
  position: relative;
  width: 100%;
  height: 700px;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
  opacity: 0;
  animation: show 1s .1s both;

  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title {
    position: absolute;
    top: 70%;
    left: 13%;
    padding: 24px;
    text-align: center;
    min-width: 200px;
    font-weight: normal;
    background-color: rgba(22, 22, 22, .7);
    border-radius: 6px;
    font-size: 24px;
  }

  @media (max-width: 800px) {
    .title {
      font-size: 18px;
      padding: 18px;
      min-width: 140px; 
    }
  }

  @media (max-width: 500px) {
    .title {
      font-size: 16px;
      padding: 14px;
    }
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}