.root {
  height: 35px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border-top: 2px solid #aaa;

  .price {
    display: inline-block;
    min-width: 70px;
    text-align: right;
  }
}