@import '../../../styles/variables';

.root {
  width: 50%;
  height: 100%;

  .orderSummary {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    
    .info {
      margin: 5px 0;
      font-size: 12px;
    }

    .time {
      color: $main-red;
    }

    .btn {
      margin-top: 16px;
      text-align: center;
    }
  }
}