.field {
  display: flex;
  align-items: center;

  label {
    font-size: 17px;
    margin-right: 10px;
    width: 100px;
  }
}

.formBtns {
  margin-top: 20px;
  text-align: center;

  .formBtn {
    display: inline-block;
    margin: 0 5px;
  } 
}