@import '../../../styles/mixins';

.root {
  @include inputs;
  width: 100%;

  input {
    padding: 8px 8px 6px 8px;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #444; 
  }

  &.passive {
    input {
      background-color: transparent;
      color: #bbb;
    }
  }
}